.DS_Store
*.xcuserstate
xcuserdata
/.swiftpm
/.build
/Packages
/Release
/.idea
.github/workflows/.idea
Hackle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
.index-build

.qodo
.cache
.fleet
cmake-build-debug
CLAUDE.md
