name: Test

on:
  pull_request:
jobs:
  ios-sdk-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run:  xcodebuild clean test -project Hackle.xcodeproj -scheme Hackle-Package -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' -resultBundlePath TestResults
      - uses: kishikawakatsumi/xcresulttool@v1
        name: Test Result
        with:
          path: TestResults.xcresult
          upload-bundles: 'never'
        if: success() || failure()
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            Test Result 
            https://github.com/hackle-io/hackle-ios-sdk/actions/runs/${{ github.run_id }}
